/* Trick thanks to https://css-tricks.com/the-hidden-attribute-is-visibly-weak/ */
[hidden] { display: none !important; }

@font-face {
  font-family: 'Aboreto';
  src: local('Aboreto'), url(./fonts/Aboreto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Forum';
  src: local('Forum'), url(./fonts/Forum-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya-SC';
  src: local('AlegreyaSansSC'), url(./fonts/AlegreyaSansSC-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Finlandica';
  src: local('Finlandica'), url(./fonts/Finlandica-VariableFont_wght.ttf) format('truetype');
}

.App {
  align-items: center;
  font-family: 'Finlandica', sans-serif;
}

body {
  background-color: #fefefe;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: darkgrey;
  height: 1px
}

.center {
  margin: auto;
}

.ActiveTransliterationExercise {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80%;
  /* Padding to make space for virtual keyboard */
  padding-bottom: 200px;
}

.ActiveExerciseInfoBlock {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ExplanationAfter {
  border-radius: 20px;
  background-color: lightgreen;
  padding: 10px;
}

.ActiveExerciseImg {
  border-radius: 15px;
  max-height: 700px;
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: -2;
}

.ActiveExerciseImgDiv {
  border-radius: 15px;
  box-shadow: inset 0px 0px 10px black;
  margin: auto;
  max-width: 70%;
  width: fit-content;
}

.ActiveExerciseTopBar {
  align-items: center;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.ActiveExerciseTitle {
  border-radius: 15px;
  background-color: #fff0f0;
  flex-grow: 1;
  font-size: 2em;
  padding: 10px;
  font-family: 'Aboreto';
}

.ActiveExerciseRuneInputsDiv {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#ActiveExerciseCheckButton {
  align-self: stretch;
  border-radius: 15px;
  border: none;
  display: inline-block;
  font-size: 2em;
  margin: 1px;
  margin-top: 10px;
  min-height: 100%;
  padding: 10px;
}

#ActiveExerciseCheckButton:enabled {
  background-color: darkred;
  color: #fefefe;
}

#ActiveExerciseCheckButton:disabled {
  background-color: lightgrey;
  color: grey;
}

#ActiveExerciseFloaties {
  bottom: 0;
  height: fit-content;
  width: 80%;
  position: fixed;
  z-index: 1;
  margin: 20px;
}

#ActiveExerciseFloatiesGrid {
  justify-content: stretch;
  align-items: end;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#ActiveExerciseHelpContainer {
  grid-column-start: 3;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: end;
}

#ActiveExerciseFunnyKeysKeyboard {
  grid-column-start: 2;
  justify-self: center;
}

.VirtualKeyboardKeyButton {
  background-image: url(../public/virtual_keyboard_key.svg);
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  color: #f0f0f0;
  margin-left: 1px;
  margin-right: 1px;
}

.VirtualKeyboardKeyButtonText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-top: 4px;
  font-size: 1.25em;
}

.VirtualKeyboardKeyButton:active {
  transform: scale(0.95);
}

#ActiveExerciseToggleHelpButton {
  background-image: url(../public/help_button_background.svg);
  border-radius: 25px;
  border: none;
  font-size: 2em;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 5px;
}

#ActiveExerciseToggleHelpButton:active {
  box-shadow: inset 2px 2px 5px;
}

#ActiveExerciseHelpModal {
  background-color: #dddddddd;
  border-radius: 15px;
  display: block;
  padding: 10px;
  width: fit-content;
  box-shadow: 5px 5px 5px;
  font-size: 1.5em;
  font-weight: 100;
}

#ActiveExerciseHelpModalRuneRowName {
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
}

.BackToListButton {
  border-radius: 15px;
  border: none;
  font-size: 2em;
  padding: 10px;
}

.BackToListButton:hover {
  background: rgba(0, 212, 255, 1);
  color: black;
  transition-duration: 1s;
}

.BackToListButton:not(:hover) {
  background-color: darkred;
  color: #fefefe;
  transition-duration: 1s;
}

.ExercisesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.ExercisesListItem {
  box-shadow: 0px 0px 10px darkgrey, 5px -5px 5px lightgray;
  display: grid;
  grid-template-rows: [top-line] 100px [second-line] 100px [bottom-line];
  grid-template-columns: [start-line] 300px [end-line];
}

.ExerciseListItemInfo {
  grid-row: top-line / second-line;
  grid-column: start-line / end-line;
  margin: 8px;
  z-index: 4;
}

.ExerciseListItemTitle {
  margin: 0px;
  font-size: large;
  font-weight: 500;
  font-family: 'Finlandica';
}

.ExerciseListItemRowType {
  margin: 0px;
  font-size: small;
  font-family: 'Finlandica';
}

.ExerciseThumbnail {
  align-self: center;
  filter: blur(0px);
  height: 100%;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  z-index: 1;
}

.ExerciseThumbnailRuneMask {
  fill: darkred;
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.ExerciseThumbnailGradient {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  transition: 1s;
  z-index: 2;
}

.ExercisesListItem:hover .ExerciseThumbnailRuneMask {
  opacity: 1;
  transition: 1s;
}

.ExercisesListItem:not(:hover) .ExerciseThumbnailRuneMask {
  opacity: 0;
  transition: 5s;
}

.RuneSeparator {
  align-self: stretch;
  border-radius: 15px;
  border: none;
  display: inline-block;
  font-size: 2em;
  margin: 5px;
  min-height: 100%;
  padding: 5px;
}

.SingleRuneOriginalSymbol {
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-top: 0px;
  text-align: center;
}

.SingleRuneFeedbackSymbol {
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
}

.SingleRuneInputDiv {
  margin: 1px;
  margin-top: 10px;
  border-radius: 15px;
  display: inline-block;
  background-color: #ffd0d0;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.SingleRuneInputDiv.Correct {
  background-color: lightgreen;
}

.SingleRuneInputDiv.Incorrect {
  background-color: lightcoral;
}

.SingleRuneInputField {
  size: 1;
  font-size: 1.5em;
  width: 20px;
  height: 30px;
  border-radius: 25px;
  border-color: transparent;
  text-align: center;
}

#PickAnExerciseHeader {
  font-family: 'Forum';
}

#WelcomeHeader {
  font-family: 'Aboreto';
}

table {
  border:none;
  border-collapse: collapse;
}

table td:nth-child(2n) {
  background-color: #ffffff55;
}