.ActiveTransliterationExercise {
  margin: auto;
}

.ExercisesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.ExercisesListItem {
  box-shadow: 0px 0px 5px lightgray, 5px -5px 5px lightgray;
  display: grid;
  grid-template-rows: [top-line] 100px [second-line] 100px [bottom-line];
  grid-template-columns: [start-line] 300px [end-line];
}

.ExerciseListItemInfo {
  grid-row: top-line / second-line;
  grid-column: start-line / end-line;
  margin: 8px;
  z-index: 4;
}

.ExerciseListItemTitle {
  margin: 0px;
  font-size: large;
  font-weight: 600;
}

.ExerciseListItemRowType {
  margin: 0px;
  font-size: small;
  font-weight: 500;
}

.ExerciseThumbnail {
  align-self: center;
  filter: blur(0px);
  height: 100%;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  z-index: 1;
}

.ExerciseThumbnailRuneMask {
  fill: darkred;
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.ExerciseThumbnailGradient {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  transition: 1s;
  z-index: 2;
}

.ExercisesListItem:hover .ExerciseThumbnailRuneMask {
  opacity: 1;
  transition: 1s;
}

.ExercisesListItem:not(:hover) .ExerciseThumbnailRuneMask {
  opacity: 0;
  transition: 5s;
}

.RuneInputsDiv {
  margin: 70px;
  display: flex;
  align-items: flex-start;
}

.SingleRuneOriginalSymbol {
  text-align: center;
}

.SingleRuneFeedbackSymbol {
  text-align: center;
}

.SingleRuneInputDiv {
  margin: 5px;
  border-radius: 25px;
  display: inline-block;
  background-color: lightgray;
  padding: 15px;
}

.SingleRuneInputDiv.Correct {
  background-color: lightgreen;
}

.SingleRuneInputDiv.Incorrect {
  background-color: lightcoral;
}

.RuneInputField {
  size: 1;
  width: 25px;
  height: 35px;
  border-radius: 25px;
  border-color: transparent;
  text-align: center;
}