/* Trick thanks to https://css-tricks.com/the-hidden-attribute-is-visibly-weak/ */
[hidden] { display: none !important; }

.App {
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #fefefe;
}

.ActiveTransliterationExercise {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80%;
}

.ActiveExerciseImg {
  border-radius: 15px;
  max-height: 700px;
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: -2;
}

.ActiveExerciseImgDiv {
  border-radius: 15px;
  box-shadow: inset 0px 0px 10px black;
  margin: auto;
  max-width: 70%;
  width: fit-content;
}

.ActiveExerciseTopBar {
  align-items: center;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.ActiveExerciseTitle {
  border-radius: 15px;
  background-color: #fff0f0;
  flex-grow: 1;
  font-size: 2em;
  padding: 10px;
}

.ActiveExerciseRuneInputsDiv {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#ActiveExerciseCheckButton {
  align-self: stretch;
  border-radius: 15px;
  border: none;
  display: inline-block;
  font-size: 2em;
  margin: 5px;
  min-height: 100%;
  padding: 10px;
}

#ActiveExerciseCheckButton:enabled {
  background-color: darkred;
  color: #fefefe;
}

#ActiveExerciseCheckButton:disabled {
  background-color: lightgrey;
  color: grey;
}

#ActiveExerciseHelpContainer {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

#ActiveExerciseToggleHelpButton {
  background-image: url(../public/help_button_background.svg);
  border-radius: 25px;
  border: none;
  font-size: 2em;
  width: 50px;
  height: 50px;
}

#ActiveExerciseHelpModal {
  background-color: #dddddddd;
  border-radius: 15px;
  display: block;
  padding: 10px;
}

#ActiveExerciseHelpModal:hover {
  transition-duration: 1s;
}

.BackToListButton {
  border-radius: 15px;
  border: none;
  
  font-size: 2em;
  padding: 10px;
}

.BackToListButton:hover {
  background: rgba(0, 212, 255, 1);
  color: black;
  transition-duration: 1s;
}

.BackToListButton:not(:hover) {
  background-color: darkred;
  color: #fefefe;
  transition-duration: 1s;
}

.ExercisesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.ExercisesListItem {
  box-shadow: 0px 0px 10px darkgrey, 5px -5px 5px lightgray;
  display: grid;
  grid-template-rows: [top-line] 100px [second-line] 100px [bottom-line];
  grid-template-columns: [start-line] 300px [end-line];
}

.ExerciseListItemInfo {
  grid-row: top-line / second-line;
  grid-column: start-line / end-line;
  margin: 8px;
  z-index: 4;
}

.ExerciseListItemTitle {
  margin: 0px;
  font-size: large;
  font-weight: 600;
}

.ExerciseListItemRowType {
  margin: 0px;
  font-size: small;
  font-weight: 500;
}

.ExerciseThumbnail {
  align-self: center;
  filter: blur(0px);
  height: 100%;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  z-index: 1;
}

.ExerciseThumbnailRuneMask {
  fill: darkred;
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.ExerciseThumbnailGradient {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
  grid-row: top-line / bottom-line;
  grid-column: start-line / end-line;
  transition: 1s;
  z-index: 2;
}

.ExercisesListItem:hover .ExerciseThumbnailRuneMask {
  opacity: 1;
  transition: 1s;
}

.ExercisesListItem:not(:hover) .ExerciseThumbnailRuneMask {
  opacity: 0;
  transition: 5s;
}

.RuneSeparator {
  align-self: stretch;
  border-radius: 15px;
  border: none;
  display: inline-block;
  font-size: 2em;
  margin: 5px;
  min-height: 100%;
  padding: 10px;
}

.SingleRuneOriginalSymbol {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
}

.SingleRuneFeedbackSymbol {
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
}

.SingleRuneInputDiv {
  margin: 5px;
  border-radius: 15px;
  display: inline-block;
  background-color: #ffd0d0;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.SingleRuneInputDiv.Correct {
  background-color: lightgreen;
}

.SingleRuneInputDiv.Incorrect {
  background-color: lightcoral;
}

.SingleRuneInputField {
  size: 1;
  font-size: 1.5em;
  width: 25px;
  height: 35px;
  border-radius: 25px;
  border-color: transparent;
  text-align: center;
}